In [3]:
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas import Series

In [4]:
df = DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                'key2': ['one', 'two', 'one', 'two','one'],
                'data1': np.random.randn(5),
                'data2': np.random.randn(5)})

In [5]:
df

      data1     data2 key1 key2
0  2.301207  0.418522    a  one
1 -0.186437  0.440116    a  two
2 -0.454373  1.035446    b  one
3  0.648053  1.780392    b  two
4  1.653333 -0.765189    a  one

In [6]:
groupd = df['data1'].groupby(df['key1'])

In [7]:
groupd

In [8]:
groupd.mean()

key1
a    1.256035
b    0.096840
Name: data1, dtype: float64

In [9]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [10]:
means

key1  key2
a     one     1.977270
      two    -0.186437
b     one    -0.454373
      two     0.648053
Name: data1, dtype: float64

In [11]:
means.unstack()

key2       one       two
key1
a     1.977270 -0.186437
b    -0.454373  0.648053

In [ ]:
states = np.array()