# TKX 피트니스를 더 개선시켜주세요.

안녕하세요! TKX 피트니스 데이터분석팀입니다.

저번 시간에 보여주신 훌륭한 데이터 분석력, 매우 감명받았습니다. 데이터를 깔끔히 정리하고 분석해주신 덕분에 저희의 업무량이 줄어든 것은 물론, 더 정량적인 분석이 가능해진 것 같습니다.

그런 의미에서 새로운 업무를 맡길까 합니다. 저번 시간에 다뤘던 회원정보 데이터와 더불어, 이번 시간에는 1) 회원들의 개인 PT 정보와 2) 회원들의 체중 기록을 추가로 제공하겠습니다. 이 데이터를 데이터분석 패키지 판다스(Pandas)를 활용해 다음의 내용을 분석해주세요.

[데이터는 다음의 URL [https://goo.gl/8XGH4T](https://goo.gl/8XGH4T) 에서 다운받을 수 있습니다. 데이터를 다운받아 읽어온 뒤, 하기에 적어놓은 내용대로 데이터를 분석 및 정리를 해주세요.]

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

## 실습

** 1. 2018년도 회원 데이터와, PT 데이터를 읽어오세요. **

In [5]:
user_info = pd.read_csv('./data/tkx-user-data-2018.csv')

In [6]:
user_info.head()

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청
0,문장우,남성,010-6677-7652,32,80,70,173,2018년 02월 09일,2018년 02월 09일,아니오,월 1회,6개월,아니요
1,황채아,여,010-7758-8785,NaN,55 kg,46 kg,170,2018년 02월 21일,2018년 02월 21일,아니오,월 2회,3개월,아니요
2,박서현,여성,01019295153,28,0,0,171,2018년 01월 03일,2018년 01월 03일,아니오,주 1회,0개월,예
3,최소윤,여,010-7785-1911,36,0,0,172,2018년 01월 31일,2018년 01월 31일,아니오,월 2회,0개월,예
4,백성준,남,010-5513-5523,37,23kg,16kg,174,2018년 02월 02일,2018년 02월 02일,아니오,주 1회,3개월,아니요

In [8]:
user_info.shape

(21368, 13)

In [11]:
user_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21368 entries, 0 to 21367
Data columns (total 13 columns):
이름           21368 non-null object
성별           21368 non-null object
전화번호         21368 non-null object
나이           19218 non-null object
현재 체중        21368 non-null object
목표 체중        21368 non-null object
키            21368 non-null object
회원 가입일       21368 non-null object
회원 정보 갱신일    21368 non-null object
흡연 여부        21368 non-null object
음주 여부        21368 non-null object
가입 개월 수      21368 non-null object
개인상담 요청      21368 non-null object
dtypes: object(13)
memory usage: 1.1+ MB

- 데이터가 모두 object type. 정리가 필요하다.

In [13]:
pt_hist = pd.read_excel('./data/pt-history.xlsx')

In [14]:
pt_hist.head()

    담당 선생님            수강일   이름           전화번호    회차
0  황설희 선생님  2016년 01월 04일  이윤태    01058851494  1 회차
1  강현우 선생님  2016년 01월 04일  문동환  010-3495-5299  1 회차
2  홍동운 선생님  2016년 01월 04일  송은준    01029598386  1 회차
3  손성은 선생님  2016년 01월 04일  손민진  010-2757-6111  1 회차
4  문채안 선생님  2016년 01월 05일  신채연    01076274183  1 회차

In [16]:
pt_hist.shape

(428903, 5)

In [15]:
pt_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428903 entries, 0 to 428902
Data columns (total 5 columns):
담당 선생님    428903 non-null object
수강일       428903 non-null object
이름        428903 non-null object
전화번호      428903 non-null object
회차        428903 non-null object
dtypes: object(5)
memory usage: 8.2+ MB

In [50]:
pt_hist.duplicated(['이름', '전화번호']).sum()

400463

In [51]:
pt_hist.duplicated(['이름']).sum()

418748

** 2. 이전 회원 데이터(2016 ~ 2017년)와 2018년도 회원 데이터를 하나로 합쳐주세요. **

In [17]:
user_info_2016 = pd.read_csv('./data/tkx-user-data.csv')

In [18]:
user_info_2016.head()

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청
0,안원준,남성,010-2292-6251,31세,78,68,176,2016년 07월 05일,2016년 07월 05일,아니오,주 1회,0개월,아니요
1,유세아,여성,01045795881,39,56kg,51kg,172,2016년 10월 02일,2016년 11월 29일,예,월 1회,0개월,아니요
2,송솔은,여성,010-7719-8346,NaN,29,21,167,2017년 09월 06일,2017년 09월 06일,예,주 1회,0개월,아니요
3,백서원,여성,01011947169,36,67,65,0,2017년 06월 02일,2017년 07월 28일,예,안 마심,0개월,아니요
4,박서은,여성,010-2575-6398,42,60,57,167,2017년 05월 07일,2017년 05월 07일,아니오,안 마심,0개월,예

In [21]:
user_info_2016.shape

(106839, 13)

In [20]:
user_info_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106839 entries, 0 to 106838
Data columns (total 13 columns):
이름           106839 non-null object
성별           106839 non-null object
전화번호         106839 non-null object
나이           96199 non-null object
현재 체중        106839 non-null object
목표 체중        106839 non-null object
키            106839 non-null object
회원 가입일       106839 non-null object
회원 정보 갱신일    106839 non-null object
흡연 여부        106839 non-null object
음주 여부        106839 non-null object
가입 개월 수      106839 non-null object
개인상담 요청      106839 non-null object
dtypes: object(13)
memory usage: 5.3+ MB

In [25]:
users = pd.concat([user_info, user_info_2016])

- concat() 메서드를 사용하면 key col을 사용하지 않고 단순히 데이터를 연결한다.
- 기본적으로 위/아래로 데이터를 연결한다.

In [26]:
users.head()

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청
0,문장우,남성,010-6677-7652,32,80,70,173,2018년 02월 09일,2018년 02월 09일,아니오,월 1회,6개월,아니요
1,황채아,여,010-7758-8785,NaN,55 kg,46 kg,170,2018년 02월 21일,2018년 02월 21일,아니오,월 2회,3개월,아니요
2,박서현,여성,01019295153,28,0,0,171,2018년 01월 03일,2018년 01월 03일,아니오,주 1회,0개월,예
3,최소윤,여,010-7785-1911,36,0,0,172,2018년 01월 31일,2018년 01월 31일,아니오,월 2회,0개월,예
4,백성준,남,010-5513-5523,37,23kg,16kg,174,2018년 02월 02일,2018년 02월 02일,아니오,주 1회,3개월,아니요

In [27]:
users.shape

(128207, 13)

In [28]:
user_info.shape[0] + user_info_2016.shape[0]

128207

In [29]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128207 entries, 0 to 106838
Data columns (total 13 columns):
이름           128207 non-null object
성별           128207 non-null object
전화번호         128207 non-null object
나이           115417 non-null object
현재 체중        128207 non-null object
목표 체중        128207 non-null object
키            128207 non-null object
회원 가입일       128207 non-null object
회원 정보 갱신일    128207 non-null object
흡연 여부        128207 non-null object
음주 여부        128207 non-null object
가입 개월 수      128207 non-null object
개인상담 요청      128207 non-null object
dtypes: object(13)
memory usage: 7.3+ MB

** 3. PT 데이터와 회원 데이터를 하나로 합쳐주세요. **

In [52]:
pt_result = pd.merge(pt_hist, users, on=['이름', '전화번호'])

In [60]:
pt_result.head()

,담당 선생님,수강일,이름,전화번호,회차,성별,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청
0,황설희 선생님,2016년 01월 04일,이윤태,01058851494,1 회차,남성,30,84,82,181,2016년 01월 01일,2016년 02월 08일,아니오,주 2회,3개월,아니요
1,황설희 선생님,2016년 01월 11일,이윤태,01058851494,2 회차,남성,30,84,82,181,2016년 01월 01일,2016년 02월 08일,아니오,주 2회,3개월,아니요
2,황설희 선생님,2016년 01월 18일,이윤태,01058851494,3 회차,남성,30,84,82,181,2016년 01월 01일,2016년 02월 08일,아니오,주 2회,3개월,아니요
3,황설희 선생님,2016년 01월 25일,이윤태,01058851494,4 회차,남성,30,84,82,181,2016년 01월 01일,2016년 02월 08일,아니오,주 2회,3개월,아니요
4,황설희 선생님,2016년 02월 02일,이윤태,01058851494,5 회차,남성,30,84,82,181,2016년 01월 01일,2016년 02월 08일,아니오,주 2회,3개월,아니요

In [61]:
pt_result.shape

(437645, 16)

** 4. 3번 데이터에서 전체가 아닌 필요한 컬럼만 골라서 보고습니다. 다음의 컬럼만 골라서 출력해주세요. **

  * 이름
  * 성별
  * 전화번호
  * 현재 체중
  * 목표 체중
  * 담당 선생님

In [62]:
columns = ['이름', '성별', '전화번호', '현재 체중', '목표 체중', '담당 선생님']
pt_result2 = pt_result[columns]

In [64]:
pt_result2.head()

    이름  성별         전화번호 현재 체중 목표 체중   담당 선생님
0  이윤태  남성  01058851494    84    82  황설희 선생님
1  이윤태  남성  01058851494    84    82  황설희 선생님
2  이윤태  남성  01058851494    84    82  황설희 선생님
3  이윤태  남성  01058851494    84    82  황설희 선생님
4  이윤태  남성  01058851494    84    82  황설희 선생님

In [65]:
pt_result2.shape

(437645, 6)

In [66]:
pt_result2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 437645 entries, 0 to 437644
Data columns (total 6 columns):
이름        437645 non-null object
성별        437645 non-null object
전화번호      437645 non-null object
현재 체중     437645 non-null object
목표 체중     437645 non-null object
담당 선생님    437645 non-null object
dtypes: object(6)
memory usage: 13.4+ MB

** 5. PT 담당 선생님만 추려서, 가장 PT를 많이 한 선생님 순으로 정렬해서 보여주세요. **

In [68]:
pt_result2['담당 선생님'].value_counts().head(10)

서슬희 선생님    902
손성은 선생님    850
장슬윤 선생님    825
권소현 선생님    712
최설희 선생님    711
손준영 선생님    705
안지율 선생님    700
고준아 선생님    668
장세희 선생님    668
황수연 선생님    664
Name: 담당 선생님, dtype: int64

## 과제(초급)

** 6. 회원분들의 체중 기록을 9개의 CSV에서 각각 읽어와주세요.**

In [8]:
# Write your code here!

** 7. 회원 분들의 체중 기록을 DB에서 10개의 테이블에서 SQL로 각각 읽어와주세요. **

In [9]:
# Write your code here!

** 8. 여러 데이터로 나뉘어져 있는 체중 기록을 하나로 합쳐주세요. **

In [10]:
# Write your code here!

** 9. 체중 기록과 회원 데이터를 하나로 합쳐주세요. **

In [11]:
# Write your code here!

** 10. 9번 데이터에서 현재 체중과 측정 체중이 가장 차이가 크게 나는 순으로 정렬해주세요. **

In [12]:
# Write your code here!

## 과제(중급)

** 11. 회원 - 체중 기록 데이터를 활용해 목표 체중을 달성한 사람만을 추려주세요. ** 

여기서 체중이 다시 올랐을 경우는 고려하지 않습니다. 즉, 그 사람의 체중이 가장 낮았을 때만 고려하면 됩니다.

In [13]:
# Write your code here!

** 12. 11번의 데이터를 활용해, 남성/여성별 목표 체중을 달성한 사람의 전체 인원수를 찾아주세요. **

In [14]:
# Write your code here!

** 13. 12번과 비슷하게, 흡연이 체중 감량에 미치는 영향을 알고 싶습니다. 흡연/비흡연자의 목표 체중을 달성한 사람들의 총 인원을 찾아주세요. **

In [15]:
# Write your code here!

** 14. 매 월(1월 ~ 12월) 가장 PT를 많이 한 담당 선생님 Top 10을 찾아주세요. **

In [16]:
# Write your code here!

** 15. 2016 ~ 2018년도 기록을 모두 합쳐서 가장 많은 PT를 받은 수강생 + 선생님 조합의 Top 10을 찾아주세요. **

In [17]:
# Write your code here!

## 과제(고급)

** 16. 사용자별 현재 체중과 더불어 체중과 1) 가장 최근에 측정한 체중, 2) 가장 낮았을 때의 체중을 찾아주세요. **

In [18]:
# Write your code here!

** 17. 체중 기록에서 단순히 그 날 측정한 체중 뿐만 아니라, 바로 이전에 측정한 체중과의 차이를 찾아주세요. **

In [19]:
# Write your code here!

** 18. 체중 감량을 많이 한 사람들을 대상으로 환급 프로그램을 적용하고 싶습니다. **

현재 체중과 목표 체중과의 차이가 5kg 이상인 사람 중에서, 실제 목표를 달성한 사람만을 뽑아서 리스트업 해주세요.

In [20]:
# Write your code here!

** 19. 18번 데이터를 바탕으로, 사람들이 목표 체중을 달성하는데 평균적으로 며칠이 걸리는지를 계산해주세요. **

In [21]:
# Write your code here!

** 20. 사람들이 헬스장에 가입한 이후, 매 주 평균적으로 얼만큼 감량하는지를 1주부터 10주까지 평균을 내서 보여주세요. **

In [22]:
# Write your code here!