# ch06. 인덱스 정렬

- 복수의 Series나 DataFrame이 어떤 방식으로 병합되면 연산이 일어나기 전에 먼저 데이터의 각 차원은 축을 따라 자동으로 정렬된다.
- 축에 대한 이 묵시적이고 자동적인 정렬은 초보자들에게는 많은 혼란을 줄 수 있지만, 숙련자에게는 커다란 유연성을 부여한다.
- 이 장에서는 자동 정렬의 장점에 대해 알아보기 전에 인덱스 객체에 대해 알아본다.

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

## 1.인덱스 객체 조사

- Series와 DataFrame의 각 축은 데이터의 값 값에 레이블을 부여하는 인덱스 객체를 갖고 있다.
- 인덱스 객체에는 여러 형식이 있지만 모두 동일하게 작동한다.
- 특별한 다중 인덱스를 제외한 모든 인덱스 객체는 파이썬의 집합과 NumPy ndarray의 기능이 합쳐져 있는 단일 차원 데이터 구조를 가진다.

- 대학 데이터셋을 읽어 들인 후 col 인덱스를 변수에 대합하고 값을 출력해본자.

In [2]:
college = pd.read_csv('../data/college.csv')

In [3]:
columns = college.columns

In [4]:
columns

Index(['INSTNM', 'CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL',
       'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS', 'UGDS_WHITE',
       'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI',
       'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF', 'CURROPER', 'PCTPELL',
       'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP'],
      dtype='object')

In [5]:
columns.values

array(['INSTNM', 'CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY',
       'RELAFFIL', 'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS',
       'UGDS_WHITE', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN',
       'UGDS_NHPI', 'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF',
       'CURROPER', 'PCTPELL', 'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10',
       'GRAD_DEBT_MDN_SUPP'], dtype=object)

In [6]:
columns[5]

'WOMENONLY'

In [7]:
columns[[1, 2, 3, 10]]

Index(['CITY', 'STABBR', 'HBCU', 'UGDS'], dtype='object')

In [8]:
columns[-3:-1]

Index(['UG25ABV', 'MD_EARN_WNE_P10'], dtype='object')

- 인덱스에는 Series와 DataFrame에 있는 많은 메서드가 그대로 구현되어 있다.

In [9]:
columns.min()

'CITY'

In [10]:
columns.max()

'WOMENONLY'

In [11]:
columns.isnull().sum()

0

- 기본적인 산술 계산과 비교 연산을 Index 객체에 바로 사용할 수 있다.

In [12]:
columns + '_A'

Index(['INSTNM_A', 'CITY_A', 'STABBR_A', 'HBCU_A', 'MENONLY_A', 'WOMENONLY_A',
       'RELAFFIL_A', 'SATVRMID_A', 'SATMTMID_A', 'DISTANCEONLY_A', 'UGDS_A',
       'UGDS_WHITE_A', 'UGDS_BLACK_A', 'UGDS_HISP_A', 'UGDS_ASIAN_A',
       'UGDS_AIAN_A', 'UGDS_NHPI_A', 'UGDS_2MOR_A', 'UGDS_NRA_A',
       'UGDS_UNKN_A', 'PPTUG_EF_A', 'CURROPER_A', 'PCTPELL_A', 'PCTFLOAN_A',
       'UG25ABV_A', 'MD_EARN_WNE_P10_A', 'GRAD_DEBT_MDN_SUPP_A'],
      dtype='object')

In [13]:
columns > 'G'

array([ True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True])

- Index는 불변 객체다.

In [14]:
# columns[1] = 'INDEX'
# TypeError: Index does not support mutable operations

- 인덱스는 합집합, 교집합, 차집합, 대칭 차집합 같은 집합 연산을 제공한다.

In [15]:
c1 = columns[:4]

In [16]:
c1

Index(['INSTNM', 'CITY', 'STABBR', 'HBCU'], dtype='object')

In [17]:
c2 = columns[2:6]

In [18]:
c2

Index(['STABBR', 'HBCU', 'MENONLY', 'WOMENONLY'], dtype='object')

In [19]:
c1.union(c2)

Index(['CITY', 'HBCU', 'INSTNM', 'MENONLY', 'STABBR', 'WOMENONLY'], dtype='object')

In [20]:
c1 | c2

Index(['CITY', 'HBCU', 'INSTNM', 'MENONLY', 'STABBR', 'WOMENONLY'], dtype='object')

In [21]:
c1.intersection(c2)

Index(['STABBR', 'HBCU'], dtype='object')

In [22]:
c1 & c2

Index(['STABBR', 'HBCU'], dtype='object')

In [23]:
c1.difference(c2)

Index(['CITY', 'INSTNM'], dtype='object')

- index type에 차집합을 실행하는 `-` 연산자는 없다.

In [25]:
# c1 - c2
# TypeError: cannot perform __sub__ with this index type: <class 'pandas.core.indexes.base.Index'>

In [27]:
c1.symmetric_difference(c2)

Index(['CITY', 'INSTNM', 'MENONLY', 'WOMENONLY'], dtype='object')

In [28]:
c1 ^ c2

Index(['CITY', 'INSTNM', 'MENONLY', 'WOMENONLY'], dtype='object')

- 인덱스는 해시 테이블을 사용해 구현되어 있어서 DataFrame에서 행과 열을 선택할 때 대단히 빠르다.
- 해시 테이블로 구현되어 있으므로 인덱스 객체의 값들은 파있너 딕셔너리의 키처럼 문자열, 정수, 튜플과 같이 불변 데이터여야 한다.
- 인덱스는 중복을 혀용하는데, 어떤 인덱스든 일단 중복이 되면 구현상에 해시값을 사용하지 못하게 되므로 객체 접근이 훨씬 느려진다.

## 2.카티션 곱 생성

- 두 Series나 DataFrmae이 또 다른 Series나 DataFrame과 연산할 때 각 객체의 인덱스(row 인덱스, col 인덱스)가 연산이 시작되기 전에 정렬되어야 한다.
- 이 인덱스 정렬은 암묵적으로 일어난다.
- 이 정렬은 인덱스가 동일하지 않으면 인덱스 사이의 카티션 곱을 생성한다.

- 두 집합 사이의 카티션 콥은 두 집합 상의 각 쌍의 가능한 모든 조합이다.
- 카티션 곱의 생성은 원하는 결과가 아닐 확률이 높다.
- 카티션 곱의 생성을 피하기 위해 언제 어떻게 이뤄지는지 알아두는 것이 중요하다.

In [29]:
s1 = pd.Series(index=list('aaab'), data=np.arange(4))

In [30]:
s1

a    0
a    1
a    2
b    3
dtype: int32

In [31]:
s2 = pd.Series(index=list('cababb'), data=np.arange(6))

In [32]:
s2

c    0
a    1
b    2
a    3
b    4
b    5
dtype: int32

- 두 Series를 더하면 카티션 곱이 생성된다.

In [33]:
s1 + s2

a    1.0
a    3.0
a    2.0
a    4.0
a    3.0
a    5.0
b    5.0
b    7.0
b    8.0
c    NaN
dtype: float64

- s1에 있는 각 a 레이블(3개)은 s2에 있는 a 레이블(2개)과 쌍이 됐다.
- 이 쌍들은 6개의 a 레이블을 생성했다.
- 카티션 곱은 동일한 모든 인덱스 레이블 사이에 일어난다.

- 레이블 c의 원소는 s2에만 존재하므로 디폴트로 누락값이 설정된다.

- 인덱스들이 같은 순서로 동일한 원소로 이뤄진 경우에는 카티션 곱이 발생하지 않는다.

In [39]:
s3 = pd.Series(index=list('aaabb'), data=np.arange(5))
s4 = pd.Series(index=list('aaabb'), data=np.arange(5))

In [40]:
s3 + s4

a    0
a    2
a    4
b    6
b    8
dtype: int32

- 인덱스의 원소는 동일하지만 Series 간의 순서가 다를 경우 카티션 곱이 생성된다.

In [36]:
s5 = pd.Series(index=list('aaabb'), data=np.arange(5))
s6 = pd.Series(index=list('bbaaa'), data=np.arange(5))

In [37]:
s5 + s6

a    2
a    3
a    4
a    3
a    4
a    5
a    4
a    5
a    6
b    3
b    4
b    4
b    5
dtype: int32

In [41]:
s7 = s6.sort_index()

In [42]:
s5 + s7

a    2
a    4
a    6
b    3
b    5
dtype: int32

- 두 Series의 일부 인덱스만 동일한 상태에서 sorting이 되어있다면?

In [86]:
ss1 = pd.Series(index=list('aabbbccd'), data=np.arange(8))

In [91]:
ss2 = pd.Series(index=list('abcde'), data=np.arange(5))

In [92]:
ss1

a    0
a    1
b    2
b    3
b    4
c    5
c    6
d    7
dtype: int32

In [93]:
ss2

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [94]:
ss1 + ss2

a     0.0
a     1.0
b     3.0
b     4.0
b     5.0
c     7.0
c     8.0
d    10.0
e     NaN
dtype: float64

- ss1의 인덱스는 중복이 존재하고 정렬되어 있다.
- ss2의 인덱스는 중복이 없고 정렬되어 있다.
- 이 상태에서 ss1과 ss2를 더하면 동일한 인덱스 끼리 덧셈이 처리된다.

## 3.인덱스 폭발

- 종업원 데이터를 읽고 'RACE' col을 인덱스로 설정한다.

In [43]:
employee = pd.read_csv('../data/employee.csv', index_col='RACE')

In [44]:
employee.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
RACE,,,,,,,,,
Hispanic/Latino,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Full Time,Female,Active,2006-06-12,2012-10-13
Hispanic/Latino,1,LIBRARY ASSISTANT,Library,26125.0,Full Time,Female,Active,2000-07-19,2010-09-18
White,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,Full Time,Male,Active,2015-02-03,2015-02-03
White,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,Full Time,Male,Active,1982-02-08,1991-05-25
White,4,ELECTRICIAN,General Services Department,56347.0,Full Time,Male,Active,1989-06-19,1994-10-22

- BASE_SALARY col을 복사한다.

In [45]:
salary1 = employee['BASE_SALARY']

In [46]:
salary2 = employee['BASE_SALARY']

In [47]:
salary1 is salary2

True

- BASE_SALARY col이 각각 복사된 것이 아니라 같은 데이터를 참조하고 있다는 것을 확인할 수 있다.

In [48]:
salary1 = employee['BASE_SALARY'].copy()
salary2 = employee['BASE_SALARY'].copy()

In [49]:
salary1 is salary2

False

- BASE_SALARY col에 copy() 메서드를 사용하여 복사했다.

In [51]:
salary1.head()

RACE
Hispanic/Latino    121862.0
Hispanic/Latino     26125.0
White               45279.0
White               63166.0
White               56347.0
Name: BASE_SALARY, dtype: float64

In [52]:
salary2.head()

RACE
Hispanic/Latino    121862.0
Hispanic/Latino     26125.0
White               45279.0
White               63166.0
White               56347.0
Name: BASE_SALARY, dtype: float64

In [54]:
salary1 = salary1.sort_index()

In [55]:
salary1.head()

RACE
American Indian or Alaskan Native    78355.0
American Indian or Alaskan Native    26125.0
American Indian or Alaskan Native    98536.0
American Indian or Alaskan Native        NaN
American Indian or Alaskan Native    55461.0
Name: BASE_SALARY, dtype: float64

In [56]:
salary_add = salary1 + salary2

In [57]:
salary_add1 = salary1 + salary1

In [58]:
len(salary1), len(salary2), len(salary_add), len(salary_add1)

(2000, 2000, 1175424, 2000)

- salary_add의 값 개수를 확인해볼 수 있다.
- 모든 동일한 인덱스 값 사이에 카티션 곱이 일어나므로 각 개별 개수의 제곱을 합산하면 된다.
- 인덱스의 각 누락값조차도 그 자신의 카티션 곱을 생성한다.

In [59]:
index_vc = salary1.index.value_counts(dropna=False)

In [60]:
index_vc

Black or African American            700
White                                665
Hispanic/Latino                      480
Asian/Pacific Islander               107
NaN                                   35
American Indian or Alaskan Native     11
Others                                 2
Name: RACE, dtype: int64

In [61]:
index_vc.pow(2).sum()

1175424

## 4.서로 다른 인덱스에 값 채우기

- 두 Series를 덧셈 연산자를 통해 더할 때 어느 한 쪽의 레이블이 다른 쪽에 없다면 그 결과값은 항상 누락값이 된다.
- pandas에는 add 연산자가 있어서 누락값을 특정값으로 채울 수 있다.

In [63]:
baseball_14 = pd.read_csv('../data/baseball14.csv', index_col='playerID')

In [64]:
baseball_15 = pd.read_csv('../data/baseball15.csv', index_col='playerID')

In [65]:
baseball_16 = pd.read_csv('../data/baseball16.csv', index_col='playerID')

In [66]:
baseball_14.head()

,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,,,,,,,,,,,,,,,,,,,,,
altuvjo01,2014,1,HOU,AL,158,660,85,225,47,3,...,59.0,56.0,9.0,36,53.0,7.0,5.0,1.0,5.0,20.0
cartech02,2014,1,HOU,AL,145,507,68,115,21,1,...,88.0,5.0,2.0,56,182.0,6.0,5.0,0.0,4.0,12.0
castrja01,2014,1,HOU,AL,126,465,43,103,21,2,...,56.0,1.0,0.0,34,151.0,1.0,9.0,1.0,3.0,11.0
corpoca01,2014,1,HOU,AL,55,170,22,40,6,0,...,19.0,0.0,0.0,14,37.0,0.0,3.0,1.0,2.0,3.0
dominma01,2014,1,HOU,AL,157,564,51,121,17,0,...,57.0,0.0,1.0,29,125.0,2.0,5.0,2.0,7.0,23.0

In [67]:
baseball_14.shape

(16, 21)

In [71]:
baseball_14.index

Index(['altuvjo01', 'cartech02', 'castrja01', 'corpoca01', 'dominma01',
       'fowlede01', 'gonzama01', 'grossro01', 'guzmaje01', 'hoeslj01',
       'krausma01', 'marisja01', 'preslal01', 'singljo02', 'springe01',
       'villajo01'],
      dtype='object', name='playerID')

In [72]:
baseball_15.index

Index(['altuvjo01', 'cartech02', 'castrja01', 'congeha01', 'correca01',
       'gattiev01', 'gomezca01', 'gonzama01', 'lowrije01', 'marisja01',
       'rasmuco01', 'springe01', 'tuckepr01', 'valbulu01', 'villajo01'],
      dtype='object', name='playerID')

In [74]:
baseball_16.index

Index(['altuvjo01', 'bregmal01', 'castrja01', 'correca01', 'gattiev01',
       'gomezca01', 'gonzama01', 'gourryu01', 'kempto01', 'marisja01',
       'rasmuco01', 'reedaj01', 'springe01', 'tuckepr01', 'valbulu01',
       'whitety01'],
      dtype='object', name='playerID')

In [69]:
baseball_14.index.difference(baseball_15.index)

Index(['corpoca01', 'dominma01', 'fowlede01', 'grossro01', 'guzmaje01',
       'hoeslj01', 'krausma01', 'preslal01', 'singljo02'],
      dtype='object', name='playerID')

In [85]:
baseball_15.index.difference(baseball_14.index)

Index(['congeha01', 'correca01', 'gattiev01', 'gomezca01', 'lowrije01',
       'rasmuco01', 'tuckepr01', 'valbulu01'],
      dtype='object', name='playerID')

In [73]:
baseball_14.index.difference(baseball_16.index)

Index(['cartech02', 'corpoca01', 'dominma01', 'fowlede01', 'grossro01',
       'guzmaje01', 'hoeslj01', 'krausma01', 'preslal01', 'singljo02',
       'villajo01'],
      dtype='object', name='playerID')

In [76]:
hits_14 = baseball_14['H']
hits_15 = baseball_15['H']
hits_16 = baseball_16['H']

In [78]:
hits_14.head()

playerID
altuvjo01    225
cartech02    115
castrja01    103
corpoca01     40
dominma01    121
Name: H, dtype: int64

In [79]:
len(hits_14), len(hits_15), len(hits_16)

(16, 15, 16)

In [95]:
(hits_14 + hits_15).head()

playerID
altuvjo01    425.0
cartech02    193.0
castrja01    174.0
congeha01      NaN
corpoca01      NaN
Name: H, dtype: float64

- `+` operator를 이용하여 덧셈을 처리하면 한쪽 Series에만 존재하는 값은 NaN으로 처리된다.
- add() 메서드에 fill_value 파라미터를 사용하면 한쪽 Series에만 값이 있어 NaN 처리되는 것을 피할 수 있다.

In [97]:
hits_14.add(hits_15, fill_value=0).head()

playerID
altuvjo01    425.0
cartech02    193.0
castrja01    174.0
congeha01     46.0
corpoca01     40.0
Name: H, dtype: float64

- add() 메서드를 한 번 더 체인시켜 2016년까지 더할 수 있다.

In [101]:
hits_total = hits_14.add(hits_15, fill_value=0)\
                   .add(hits_16, fill_value=0)

In [102]:
hits_total.head()

playerID
altuvjo01    641.0
bregmal01     53.0
cartech02    193.0
castrja01    243.0
congeha01     46.0
Name: H, dtype: float64

In [103]:
hits_total.hasnans

False

- add() 메서드는 덧셈 연산자와 비슷하지만, fill_value를 통해 매칭되지 않는 인덱스를 대체할 수 있도록 하는 유연한 기능을 제공한다.
- 경우에 따라 두 Series의 특정 레이블이 가리키는 값이 모두 누락값인 때가 있다.
- 이 경우 fill_value를 이용하여도 여전히 NaN이 된다.

- Series만으로 연습했지만 DataFrame에도 동일하게 적용된다.
- 각 년도의 야구 데이터에서 몇 개의 col을 선택한다.

In [105]:
df_14 = baseball_14[['G', 'AB', 'R', 'H']]

In [106]:
df_15 = baseball_15[['AB', 'R', 'H', 'HR']]

- 두 DataFrame을 더하면 col, row 레이블이 정렬될 수 없는 곳마다 누락값이 생긴다.
- style 속성의 highlight_null() 메서드를 이용하여 누락값이 어디인지 확인할 수 있다.

In [107]:
(df_14 + df_15).head(10).style.highlight_null('yellow')

## 5.다른 DataFrame의 col 추가

- DataFrmae이 다른 DataFrame이나 Series로부터 열을 추가할 땐느 새로운 열이 생성되기 전에 인덱스들이 정렬된다.

- emplyee 데이터셋을 이용하여 각 직원이 속한 부서의 최대 연봉을 기록한 새로운 열을 추가한다.

- employee 데이터를 로드하여 DEPARTMENT와 BASE_SALARY col을 새로운 DataFrame에 선택한다.

In [108]:
employee = pd.read_csv('../data/employee.csv')

In [109]:
dept_sal = employee[['DEPARTMENT', 'BASE_SALARY']]

In [110]:
dept_sal.head()

                      DEPARTMENT  BASE_SALARY
0    Municipal Courts Department     121862.0
1                        Library      26125.0
2  Houston Police Department-HPD      45279.0
3  Houston Fire Department (HFD)      63166.0
4    General Services Department      56347.0

In [111]:
dept_sal.shape

(2000, 2)

- 부서이름은 오름차순, 급여는 내림차순으로 정렬한다.

In [112]:
dept_sal = dept_sal.sort_values(['DEPARTMENT', 'BASE_SALARY'], ascending=[True, False])

In [113]:
dept_sal.head()

                      DEPARTMENT  BASE_SALARY
1494  Admn. & Regulatory Affairs     140416.0
237   Admn. & Regulatory Affairs     130416.0
1679  Admn. & Regulatory Affairs     103776.0
988   Admn. & Regulatory Affairs      72741.0
693   Admn. & Regulatory Affairs      66825.0

- DEPARTMENT의 첫 행만 유지한다.

In [114]:
max_dept_sal = dept_sal.drop_duplicates(subset='DEPARTMENT')

In [115]:
max_dept_sal.head()

                        DEPARTMENT  BASE_SALARY
1494    Admn. & Regulatory Affairs     140416.0
149       City Controller's Office      64251.0
236                   City Council     100000.0
647   Convention and Entertainment      38397.0
1500   Dept of Neighborhoods (DON)      89221.0

In [116]:
max_dept_sal.shape

(24, 2)

- max_dept_sal, employee의 인덱스를 DEPARTMENT로 설정한다.

In [117]:
max_dept_sal = max_dept_sal.set_index('DEPARTMENT')

In [118]:
employee = employee.set_index('DEPARTMENT')

In [119]:
max_dept_sal.head()

                              BASE_SALARY
DEPARTMENT
Admn. & Regulatory Affairs       140416.0
City Controller's Office          64251.0
City Council                     100000.0
Convention and Entertainment      38397.0
Dept of Neighborhoods (DON)       89221.0

In [120]:
employee.head()

,UNIQUE_ID,POSITION_TITLE,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
DEPARTMENT,,,,,,,,,
Municipal Courts Department,0,ASSISTANT DIRECTOR (EX LVL),121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13
Library,1,LIBRARY ASSISTANT,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18
Houston Police Department-HPD,2,POLICE OFFICER,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03
Houston Fire Department (HFD),3,ENGINEER/OPERATOR,63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25
General Services Department,4,ELECTRICIAN,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22

- 두 DataFrame의 인덱스들은 서로 매칭되는 값을 가지므로 employee에 새로운 col을 추가할 수 있다.
- max_dept_sal의 인덱스에 중복이 있으면 실패한다.

In [121]:
employee['MAX_DEPT_SALARY'] = max_dept_sal['BASE_SALARY']

In [123]:
employee[['UNIQUE_ID', 'MAX_DEPT_SALARY']].head()

                               UNIQUE_ID  MAX_DEPT_SALARY
DEPARTMENT
Municipal Courts Department            0         121862.0
Library                                1         107763.0
Houston Police Department-HPD          2         199596.0
Houston Fire Department (HFD)          3         210588.0
General Services Department            4          89194.0

In [124]:
employee.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, Municipal Courts Department to Houston Fire Department (HFD)
Data columns (total 10 columns):
UNIQUE_ID            2000 non-null int64
POSITION_TITLE       2000 non-null object
BASE_SALARY          1886 non-null float64
RACE                 1965 non-null object
EMPLOYMENT_TYPE      2000 non-null object
GENDER               2000 non-null object
EMPLOYMENT_STATUS    2000 non-null object
HIRE_DATE            2000 non-null object
JOB_DATE             1997 non-null object
MAX_DEPT_SALARY      2000 non-null float64
dtypes: float64(2), int64(1), object(7)
memory usage: 109.4+ KB

- query() 메서드로 결과를 검증하여 BASE_SALARY가 MAX_DEPT_SALARY보다 큰 곳이 있는지 확인해보자.

In [125]:
employee.query('BASE_SALARY > MAX_DEPT_SALARY')

Empty DataFrame
Columns: [UNIQUE_ID, POSITION_TITLE, BASE_SALARY, RACE, EMPLOYMENT_TYPE, GENDER, EMPLOYMENT_STATUS, HIRE_DATE, JOB_DATE, MAX_DEPT_SALARY]
Index: []

- `employee['MAX_DEPT_SALARY'] = max_dept_sal['BASE_SALARY']`
- 이 과정에서 등호 오른쪽에 중복된 인덱스를 가진 DataFrame을 사용하면 Error가 발생한다.

In [126]:
np.random.seed(1234)

In [127]:
random_salary = dept_sal.sample(n=10).set_index('DEPARTMENT')

In [128]:
random_salary.head()

                                BASE_SALARY
DEPARTMENT
Public Works & Engineering-PWE      50586.0
Houston Police Department-HPD       66614.0
Houston Police Department-HPD       66614.0
Housing and Community Devp.         78853.0
Houston Police Department-HPD       66614.0

In [130]:
# employee['RANDOM_SALARY'] = random_salary['BASE_SALARY']
# ValueError: cannot reindex from a duplicate axis

- 등호 왼쪽의 DataFrame에 정렬할 수 있는 인덱스가 없다면 결과값은 누락된다.

In [131]:
employee['MAX_SALARY2'] = max_dept_sal['BASE_SALARY'].head(3)

In [132]:
employee.MAX_SALARY2.value_counts()

140416.0    29
100000.0    11
64251.0      5
Name: MAX_SALARY2, dtype: int64

In [133]:
employee.MAX_SALARY2.isnull().sum()

1955

## 6.각 col로부터 최대값 하이라이트

- 대학 데이터셋에서 특정 척도에 대한 최고 점수를 가진 학교를 선별
- 각 수치 col에 대한 최대값을 가진 학교를 찾아내고 DataFrame이 그 정보를 부각할 수 있도록 설정해보자.

- 대학 데이터셋을 로드하고, 학교 이름은 인덱스로 설정한다.

In [134]:
college = pd.read_csv('../data/college.csv', index_col='INSTNM')

In [135]:
college.dtypes

CITY                   object
STABBR                 object
HBCU                  float64
MENONLY               float64
WOMENONLY             float64
RELAFFIL                int64
SATVRMID              float64
SATMTMID              float64
DISTANCEONLY          float64
UGDS                  float64
UGDS_WHITE            float64
UGDS_BLACK            float64
UGDS_HISP             float64
UGDS_ASIAN            float64
UGDS_AIAN             float64
UGDS_NHPI             float64
UGDS_2MOR             float64
UGDS_NRA              float64
UGDS_UNKN             float64
PPTUG_EF              float64
CURROPER                int64
PCTPELL               float64
PCTFLOAN              float64
UG25ABV               float64
MD_EARN_WNE_P10        object
GRAD_DEBT_MDN_SUPP     object
dtype: object

In [136]:
college.get_dtype_counts()

float64    20
int64       2
object      4
dtype: int64

- type이 object인 특정 col에 어떤 값이 들어있는지 확인해보려면 내림차순으로 정렬한 후 처음의 몇 행을 살펴보자.

In [137]:
college.MD_EARN_WNE_P10.sort_values(ascending=False).head()

INSTNM
Sharon Regional Health System School of Nursing    PrivacySuppressed
Northcoast Medical Training Academy                PrivacySuppressed
Success Schools                                    PrivacySuppressed
Louisiana Culinary Institute                       PrivacySuppressed
Bais Medrash Toras Chesed                          PrivacySuppressed
Name: MD_EARN_WNE_P10, dtype: object

- MD_EARN_WNE_P10 col은 개인 정보 보호 문제로 다른 값을 넣어두어 다른 값들이 모두 수치임에도 object type으로 분류되었다.
- 이 col을 수치로 만들려면 to_numeric 이라는 pandas 함수를 사용한다.

In [138]:
cols = ['MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP']

In [140]:
for col in cols:
    college[col] = pd.to_numeric(college[col], errors='coerce')

In [141]:
college.dtypes.loc[cols]

MD_EARN_WNE_P10       float64
GRAD_DEBT_MDN_SUPP    float64
dtype: object

- to_numeric 함수의 errors 매개변수는 다음과 같은 옵션이 있다.

    - errors : {'ignore', 'raise', 'coerce'}, default 'raise'

    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaN
    - If 'ignore', then invalid parsing will return the input

In [142]:
college.get_dtype_counts()

float64    22
int64       2
object      2
dtype: int64

- select_dtypes() 메서드를 사용해 수치 col만 필터링할 수 있다.

In [143]:
college_n = college.select_dtypes(include=[np.number])

In [144]:
college_n.head()

,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300.0,33888.0
University of Alabama at Birmingham,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700.0,21941.5
Amridge University,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.2990,0.4192,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100.0,23370.0
University of Alabama in Huntsville,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,0.6988,0.1255,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500.0,24097.0
Alabama State University,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,0.0158,0.9208,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600.0,33118.5

- 이진값만을 갖는 col은 최대값을 찾기 위한 목적에 적합하지 않다.
- 이러한 col을 nunique() 메서드를 사용하여 2개의 고유한 값만 갖는 열을 모두 찾아낸다.

In [145]:
criteria = college_n.nunique() == 2

In [146]:
criteria.head()

HBCU          True
MENONLY       True
WOMENONLY     True
RELAFFIL      True
SATVRMID     False
dtype: bool

- criteria를 이용하여 college_n에서 이진값을 가진 col의 리스트를 생성한다.

In [150]:
binary_cols = college_n.columns[criteria].tolist()

In [151]:
binary_cols

['HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL', 'DISTANCEONLY', 'CURROPER']

- drop() 메서드를 사용해 이진 col을 제거한다.

In [152]:
college_n2 = college_n.drop(binary_cols, axis='columns')

In [153]:
college_n2.head()

,SATVRMID,SATMTMID,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,
Alabama A & M University,424.0,420.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,0.7356,0.8284,0.1049,30300.0,33888.0
University of Alabama at Birmingham,570.0,565.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,0.3460,0.5214,0.2422,39700.0,21941.5
Amridge University,NaN,NaN,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,0.6801,0.7795,0.8540,40100.0,23370.0
University of Alabama in Huntsville,595.0,590.0,5451.0,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350,0.2146,0.3072,0.4596,0.2640,45500.0,24097.0
Alabama State University,425.0,430.0,4811.0,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137,0.0892,0.7347,0.7554,0.1270,26600.0,33118.5

- idxmax() 메서드를 사용하여 각 col의 최대값에 해당하는 인덱스 레이블을 찾는다.

In [154]:
max_cols = college_n2.idxmax()

In [155]:
max_cols.head()

SATVRMID          California Institute of Technology
SATMTMID          California Institute of Technology
UGDS                   University of Phoenix-Arizona
UGDS_WHITE    Mr Leon's School of Hair Design-Moscow
UGDS_BLACK        Velvatex College of Beauty Culture
dtype: object

In [156]:
max_cols.shape

(18,)

- unique() 메서드를 max_cols Series에 호출한다.
- 그 결과 고유한 col 이름을 가진 ndarray가 반환된다.

In [157]:
unique_max_cols = max_cols.unique()

In [159]:
unique_max_cols[:5]

array(['California Institute of Technology',
       'University of Phoenix-Arizona',
       "Mr Leon's School of Hair Design-Moscow",
       'Velvatex College of Beauty Culture',
       'Thunderbird School of Global Management'], dtype=object)

In [160]:
college_n2.loc[unique_max_cols].style.highlight_max()







## 7.메서드 체인을 활용한 idxmax 복제
## 8.가장 보편적인 최대값 검색