- dividend_data.csv 파일을 읽어 최신 데이터 간략 확인 (sort -> tail)
- 최신 데이터 추가
- 다시 저장

In [4]:
import numpy as np
import pandas as pd

In [6]:
dividend = pd.read_csv('./data/dividend_data.csv', index_col='IDX')

In [7]:
dividend.tail()

           DATE    TICKER  DIVIDEND
IDX
113  2018-08-16        PG      7.92
114  2018-08-17      AAPL      6.83
115  2018-08-27      SBUX      9.18
116  2018-09-06  Vanguard      0.80
117  2018-09-12       JNJ      8.41

In [14]:
dividend.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 0 to 117
Data columns (total 3 columns):
DATE        118 non-null object
TICKER      118 non-null object
DIVIDEND    118 non-null float64
dtypes: float64(1), object(2)
memory usage: 2.8+ KB

In [12]:
new_rows = pd.DataFrame([['2018-09-21', 'NVDA', 1.02]], columns=['DATE', 'TICKER', 'DIVIDEND'])

In [18]:
dividend = dividend.append(new_rows, ignore_index=True)

In [19]:
dividend.tail()

           DATE    TICKER  DIVIDEND
114  2018-08-17      AAPL      6.83
115  2018-08-27      SBUX      9.18
116  2018-09-06  Vanguard      0.80
117  2018-09-12       JNJ      8.41
118  2018-09-21      NVDA      1.02

In [23]:
dividend = dividend.sort_values(by=['DATE', 'TICKER'])

In [24]:
dividend.count()

DATE        119
TICKER      119
DIVIDEND    119
dtype: int64

In [26]:
dividend.to_csv('./data/dividend_data.csv')