- dividend_data.csv 파일을 읽어 최신 데이터 간략 확인 (sort -> tail)
- 최신 데이터 추가
- 다시 저장

In [1]:
import numpy as np
import pandas as pd

In [2]:
dividend = pd.read_csv('./data/dividend_data.csv', index_col='DATE')

In [3]:
dividend.tail()

           TICKER  DIVIDEND
DATE
2018-10-16     PM      0.35
2018-10-26   CLDT      5.61
2018-11-02      T     32.30
2018-11-06    BND      0.83
2018-11-13    WSR      9.85

In [4]:
dividend.info()

<class 'pandas.core.frame.DataFrame'>
Index: 132 entries, 2016-02-15 to 2018-11-13
Data columns (total 2 columns):
TICKER      132 non-null object
DIVIDEND    132 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.1+ KB

In [79]:
# 추가할 데이터 설정
# date = ['2018-12-28']
# new_rows = pd.DataFrame([['BND', 0.99]], columns=['TICKER', 'DIVIDEND'], index=date)

In [80]:
# 추가할 데이터 확인
# new_rows

           TICKER  DIVIDEND
2018-12-28    BND      0.99

In [81]:
# 데이터 추가
# dividend = dividend.append(new_rows)

In [82]:
# dividend.index.names = ['DATE']

In [83]:
dividend.tail()

           TICKER  DIVIDEND
DATE
2018-12-17      O      3.75
2018-12-21   NVDA      1.09
2018-12-28   CLDT      6.54
2018-12-28     GS      3.40
2018-12-28    BND      0.99

In [84]:
dividend = dividend.sort_index()

In [85]:
dividend.tail()

           TICKER  DIVIDEND
DATE
2018-12-17      O      3.75
2018-12-21   NVDA      1.09
2018-12-28   CLDT      6.54
2018-12-28     GS      3.40
2018-12-28    BND      0.99

In [86]:
dividend.count()

TICKER      146
DIVIDEND    146
dtype: int64

In [87]:
dividend.to_csv('./data/dividend_data.csv')