- dividend_data.csv 파일을 읽어 최신 데이터 간략 확인 (sort -> tail)
- 최신 데이터 추가
- 다시 저장

In [1]:
import numpy as np
import pandas as pd

In [2]:
dividend = pd.read_csv('./data/dividend_data.csv', index_col='DATE')

In [3]:
dividend.tail()

           TICKER  DIVIDEND
DATE
2018-09-21   NVDA      1.02
2018-09-27     GS      3.40
2018-10-01    BAC      1.02
2018-10-02     KO      7.96
2018-10-05    BND      0.78

In [4]:
dividend.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123 entries, 2016-02-15 to 2018-10-05
Data columns (total 2 columns):
TICKER      123 non-null object
DIVIDEND    123 non-null float64
dtypes: float64(1), object(1)
memory usage: 2.9+ KB

In [20]:
# 추가할 데이터 설정
# date = ['2018-10-15']
# new_rows = pd.DataFrame([['O', 3.75]], columns=['TICKER', 'DIVIDEND'], index=date)

In [21]:
# 추가할 데이터 확인
# new_rows

           TICKER  DIVIDEND
2018-10-15      O      3.75

In [22]:
# 데이터 추가
# dividend = dividend.append(new_rows)

In [23]:
# dividend.index.names = ['DATE']

In [24]:
dividend.tail()

           TICKER  DIVIDEND
DATE
2018-10-05    BND      0.78
2018-10-11     MO     10.20
2018-10-12    WSR      8.48
2018-10-15     PM     13.27
2018-10-15      O      3.75

In [25]:
dividend = dividend.sort_index()

In [26]:
dividend.tail()

           TICKER  DIVIDEND
DATE
2018-10-05    BND      0.78
2018-10-11     MO     10.20
2018-10-12    WSR      8.48
2018-10-15     PM     13.27
2018-10-15      O      3.75

In [27]:
dividend.count()

TICKER      127
DIVIDEND    127
dtype: int64

In [28]:
dividend.to_csv('./data/dividend_data.csv')