- dividend_20180920.csv 파일을 읽어 데이터 간략 확인
- 컬럼명 변경
- 다시 저장

In [1]:
import numpy as np
import pandas as pd

In [2]:
dividend = pd.read_csv('./data/dividend_20180920.csv', index_col='일자')

In [3]:
dividend.tail()

                  종목    금액
일자
2018-08-16        PG  7.92
2018-08-17      AAPL  6.83
2018-08-27      SBUX  9.18
2018-09-06  Vanguard  0.80
2018-09-12       JNJ  8.41

In [4]:
dividend.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118 entries, 2016-02-15 to 2018-09-12
Data columns (total 2 columns):
종목    118 non-null object
금액    118 non-null float64
dtypes: float64(1), object(1)
memory usage: 2.8+ KB

In [5]:
cols_name = {'종목': 'TICKER', '금액': 'DIVIDEND'}

In [6]:
dividend.rename(columns=cols_name, inplace=True)

In [7]:
dividend.head()

           TICKER  DIVIDEND
일자
2016-02-15   AAPL      0.88
2016-02-22   SBUX      0.85
2016-03-09    JNJ      1.27
2016-03-29    BAC      0.34
2016-04-05     KO      0.89

In [8]:
dividend.index.names = ['DATE']

In [9]:
dividend.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118 entries, 2016-02-15 to 2018-09-12
Data columns (total 2 columns):
TICKER      118 non-null object
DIVIDEND    118 non-null float64
dtypes: float64(1), object(1)
memory usage: 2.8+ KB

In [10]:
dividend.head()

           TICKER  DIVIDEND
DATE
2016-02-15   AAPL      0.88
2016-02-22   SBUX      0.85
2016-03-09    JNJ      1.27
2016-03-29    BAC      0.34
2016-04-05     KO      0.89

In [11]:
dividend.to_csv('./data/dividend_data.csv')