- dividend_data.csv 파일을 읽어 최신 데이터 간략 확인 (sort -> tail)
- 최신 데이터 추가
- 다시 저장

In [1]:
import numpy as np
import pandas as pd

In [2]:
dividend = pd.read_csv('./data/dividend_data.csv', index_col='DATE')

In [3]:
dividend.tail()

              TICKER  DIVIDEND
DATE
2018-08-27      SBUX      9.18
2018-09-06  Vanguard      0.80
2018-09-12       JNJ      8.41
2018-09-21      NVDA      1.02
2018-09-27        GS      3.40

In [4]:
dividend.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 2016-02-15 to 2018-09-27
Data columns (total 2 columns):
TICKER      120 non-null object
DIVIDEND    120 non-null float64
dtypes: float64(1), object(1)
memory usage: 2.8+ KB

In [5]:
# 추가할 데이터 설정
# date = ['2018-09-27']
# new_rows = pd.DataFrame([['GS', 3.40]], columns=['TICKER', 'DIVIDEND'], index=date)

In [6]:
# 추가할 데이터 확인
# new_rows

In [7]:
# 데이터 추가
# dividend = dividend.append(new_rows)

In [8]:
dividend.index.names = ['DATE']

In [9]:
dividend.tail()

              TICKER  DIVIDEND
DATE
2018-08-27      SBUX      9.18
2018-09-06  Vanguard      0.80
2018-09-12       JNJ      8.41
2018-09-21      NVDA      1.02
2018-09-27        GS      3.40

In [10]:
dividend = dividend.sort_index()

In [11]:
dividend.tail()

              TICKER  DIVIDEND
DATE
2018-08-27      SBUX      9.18
2018-09-06  Vanguard      0.80
2018-09-12       JNJ      8.41
2018-09-21      NVDA      1.02
2018-09-27        GS      3.40

In [12]:
dividend.count()

TICKER      120
DIVIDEND    120
dtype: int64

In [13]:
dividend.to_csv('./data/dividend_data.csv')