- dividend_data.csv 파일을 읽어 최신 데이터 간략 확인 (sort -> tail)
- 최신 데이터 추가
- 다시 저장

In [1]:
import numpy as np
import pandas as pd

In [2]:
dividend = pd.read_csv('./data/dividend_data.csv', index_col='DATE')

In [3]:
dividend.tail()

           TICKER  DIVIDEND
DATE
2018-10-11     MO     10.20
2018-10-12    WSR      8.48
2018-10-15     PM     13.27
2018-10-15      O      3.75
2018-10-16     PM      0.35

In [4]:
dividend.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128 entries, 2016-02-15 to 2018-10-16
Data columns (total 2 columns):
TICKER      128 non-null object
DIVIDEND    128 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.0+ KB

In [5]:
# 추가할 데이터 설정
# date = ['2018-10-16']
# new_rows = pd.DataFrame([['PM', 0.35]], columns=['TICKER', 'DIVIDEND'], index=date)

In [6]:
# 추가할 데이터 확인
# new_rows

In [7]:
# 데이터 추가
# dividend = dividend.append(new_rows)

In [8]:
# dividend.index.names = ['DATE']

In [9]:
dividend.tail()

           TICKER  DIVIDEND
DATE
2018-10-11     MO     10.20
2018-10-12    WSR      8.48
2018-10-15     PM     13.27
2018-10-15      O      3.75
2018-10-16     PM      0.35

In [10]:
dividend = dividend.sort_index()

In [11]:
dividend.tail()

           TICKER  DIVIDEND
DATE
2018-10-11     MO     10.20
2018-10-12    WSR      8.48
2018-10-15     PM     13.27
2018-10-15      O      3.75
2018-10-16     PM      0.35

In [12]:
dividend.count()

TICKER      128
DIVIDEND    128
dtype: int64

In [13]:
dividend.to_csv('./data/dividend_data.csv')