- dividend_data.csv 파일을 읽어 최신 데이터 간략 확인 (sort -> tail)
- 최신 데이터 추가
- 다시 저장

In [1]:
import numpy as np
import pandas as pd

In [2]:
dividend = pd.read_csv('./data/dividend_data.csv', index_col='DATE')

In [3]:
dividend.tail()

              TICKER  DIVIDEND
DATE
2018-08-16        PG      7.92
2018-08-17      AAPL      6.83
2018-08-27      SBUX      9.18
2018-09-06  Vanguard      0.80
2018-09-12       JNJ      8.41

In [4]:
dividend.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118 entries, 2016-02-15 to 2018-09-12
Data columns (total 2 columns):
TICKER      118 non-null object
DIVIDEND    118 non-null float64
dtypes: float64(1), object(1)
memory usage: 2.8+ KB

In [5]:
date = ['2018-09-21']

In [6]:
new_rows = pd.DataFrame([['NVDA', 1.02]], columns=['TICKER', 'DIVIDEND'], index=date)

In [7]:
new_rows

           TICKER  DIVIDEND
2018-09-21   NVDA      1.02

In [8]:
dividend = dividend.append(new_rows)

In [9]:
dividend.index.names = ['DATE']

In [10]:
dividend.tail()

              TICKER  DIVIDEND
DATE
2018-08-17      AAPL      6.83
2018-08-27      SBUX      9.18
2018-09-06  Vanguard      0.80
2018-09-12       JNJ      8.41
2018-09-21      NVDA      1.02

In [11]:
dividend = dividend.sort_index()

In [15]:
dividend.tail()

              TICKER  DIVIDEND
DATE
2018-08-17      AAPL      6.83
2018-08-27      SBUX      9.18
2018-09-06  Vanguard      0.80
2018-09-12       JNJ      8.41
2018-09-21      NVDA      1.02

In [13]:
dividend.count()

TICKER      119
DIVIDEND    119
dtype: int64

In [14]:
dividend.to_csv('./data/dividend_data.csv')