- dividend_20180920.csv 파일을 읽어 데이터 간략 확인
- 컬럼명 변경
- 다시 저장

In [1]:
import numpy as np
import pandas as pd

In [2]:
dividend = pd.read_csv('./data/dividend_20180920.csv')

In [3]:
dividend.tail()

             일자        종목    금액
113  2018-08-16        PG  7.92
114  2018-08-17      AAPL  6.83
115  2018-08-27      SBUX  9.18
116  2018-09-06  Vanguard  0.80
117  2018-09-12       JNJ  8.41

In [4]:
dividend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 3 columns):
일자    118 non-null object
종목    118 non-null object
금액    118 non-null float64
dtypes: float64(1), object(2)
memory usage: 1.9+ KB

In [5]:
cols_name = {'일자':'DATE', '종목': 'TICKER', '금액': 'DIVIDEND'}

In [6]:
dividend.rename(columns=cols_name, inplace=True)

In [14]:
dividend.index.names=['IDX']

In [15]:
dividend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 3 columns):
DATE        118 non-null object
TICKER      118 non-null object
DIVIDEND    118 non-null float64
dtypes: float64(1), object(2)
memory usage: 1.9+ KB

In [16]:
dividend.head()

           DATE TICKER  DIVIDEND
IDX
0    2016-02-15   AAPL      0.88
1    2016-02-22   SBUX      0.85
2    2016-03-09    JNJ      1.27
3    2016-03-29    BAC      0.34
4    2016-04-05     KO      0.89

In [17]:
dividend.to_csv('./data/dividend_data.csv')