
# Ticker 변경

In [1]:
import numpy as np
import pandas as pd

In [2]:
dividend = pd.read_csv('./data/dividend_data.csv', index_col='DATE')

In [3]:
dividend.head()

           TICKER  DIVIDEND
DATE
2016-02-15   AAPL      0.88
2016-02-22   SBUX      0.85
2016-03-09    JNJ      1.27
2016-03-29    BAC      0.34
2016-04-05     KO      0.89

In [4]:
# TICKER 컬럼에 어떤 값이 있는지 확인
set(dividend['TICKER'])

{'AAPL',
 'BAC',
 'BND',
 'GS',
 'JNJ',
 'KO',
 'MO',
 'NVDA',
 'O',
 'PG',
 'PM',
 'SBUX',
 'T',
 'WSR'}

In [5]:
# Vanguard를 BND로 변경하고 싶다.
dividend[dividend['TICKER']=='Vanguard']

Empty DataFrame
Columns: [TICKER, DIVIDEND]
Index: []

In [16]:
dividend = dividend.replace({'TICKER': 'Vanguard'}, {'TICKER': 'BND'})

In [17]:
dividend[dividend['TICKER']=='Vanguard']

Empty DataFrame
Columns: [TICKER, DIVIDEND]
Index: []

In [18]:
set(dividend['TICKER'])

{'AAPL',
 'BAC',
 'BND',
 'GS',
 'JNJ',
 'KO',
 'MO',
 'NVDA',
 'O',
 'PG',
 'PM',
 'SBUX',
 'T',
 'WSR'}

In [19]:
dividend.to_csv('./data/dividend_data.csv')