In [1]:
import numpy as np
import pandas as pd

In [2]:
stock_position = {
    'CLDT': 60,
    'GS': 5,
    'JNJ': 11,
    'KO': 24,
    'MO': 15,
    'O': 20,
    'PG': 13,
    'PM': 12,
    'T': 76,
    'WSR': 105,
    'AAPL': 11,
    'BND': 5,
    'FB': 3,
    'NVDA': 8,
    'SBUX': 35,
}

In [3]:
position_20181012 = pd.Series(stock_position)

In [4]:
position_20181012

AAPL     11
BND       5
CLDT     60
FB        3
GS        5
JNJ      11
KO       24
MO       15
NVDA      8
O        20
PG       13
PM       12
SBUX     35
T        76
WSR     105
dtype: int64

In [5]:
df_20181012 = pd.DataFrame(position_20181012)

In [6]:
df_20181012

        0
AAPL   11
BND     5
CLDT   60
FB      3
GS      5
JNJ    11
KO     24
MO     15
NVDA    8
O      20
PG     13
PM     12
SBUX   35
T      76
WSR   105

In [7]:
df_20181012.rename(columns={0:'2018-10-12'}, inplace=True)

In [8]:
df_20181012

      2018-10-12
AAPL          11
BND            5
CLDT          60
FB             3
GS             5
JNJ           11
KO            24
MO            15
NVDA           8
O             20
PG            13
PM            12
SBUX          35
T             76
WSR          105

In [9]:
df_20181012.to_csv('./data/num_stock.csv')