# FinanceDataReader 를 이용하여 주가 crawing

In [6]:
import numpy as np
import pandas as pd

import FinanceDataReader as fdr

In [7]:
dividend = pd.read_csv('./data/dividend_data.csv', index_col='DATE', parse_dates=True)

In [14]:
dividend.drop_duplicates(['TICKER'])['TICKER']

DATE
2016-02-15        AAPL
2016-02-22        SBUX
2016-03-09         JNJ
2016-03-29         BAC
2016-04-05          KO
2016-05-18          PG
2017-03-09    Vanguard
2017-03-21        NVDA
2017-06-30          GS
2017-08-02           T
2017-10-16          PM
2018-10-05         BND
2018-10-11          MO
2018-10-12         WSR
2018-10-15           O
Name: TICKER, dtype: object

In [4]:
aapl = fdr.DataReader('AAPL', '2018')

In [5]:
aapl.tail()

             Close    Open    High     Low      Volume  Change
Date
2018-10-08  223.77  222.21  224.80  220.20  29660000.0 -0.0023
2018-10-09  226.87  223.64  227.27  222.25  26890000.0  0.0139
2018-10-10  216.36  225.46  226.35  216.05  41990000.0 -0.0463
2018-10-11  214.45  214.52  219.50  212.32  53120000.0 -0.0088
2018-10-12  222.11  220.42  222.88  216.84  40340000.0  0.0357

In [18]:
jnj = fdr.DataReader('JNJ', '2018-10-12')

In [19]:
jnj

             Close   Open    High     Low     Volume  Change
Date
2018-10-12  133.87  134.4  134.41  132.23  7000000.0  0.0002