# FinanceDataReader 를 이용하여 주가 crawing

In [1]:
import numpy as np
import pandas as pd

import FinanceDataReader as fdr

In [2]:
dividend = pd.read_csv('./data/dividend_data.csv', index_col='DATE', parse_dates=True)

In [3]:
dividend.drop_duplicates(['TICKER'])['TICKER']

DATE
2016-02-15    AAPL
2016-02-22    SBUX
2016-03-09     JNJ
2016-03-29     BAC
2016-04-05      KO
2016-05-18      PG
2017-03-09     BND
2017-03-21    NVDA
2017-06-30      GS
2017-08-02       T
2017-10-16      PM
2018-10-11      MO
2018-10-12     WSR
2018-10-15       O
Name: TICKER, dtype: object

In [4]:
# AAPL의 2018년도 데이터를 로드한다.
aapl = fdr.DataReader('AAPL', '2018')

In [5]:
aapl.tail()

             Close    Open    High     Low      Volume  Change
Date
2018-10-08  223.77  222.21  224.80  220.20  29660000.0 -0.0023
2018-10-09  226.87  223.64  227.27  222.25  26890000.0  0.0139
2018-10-10  216.36  225.46  226.35  216.05  41990000.0 -0.0463
2018-10-11  214.45  214.52  219.50  212.32  53120000.0 -0.0088
2018-10-12  222.11  220.42  222.88  216.84  40340000.0  0.0357

In [36]:
# 2018-10-12 부터 최근일까지 데이터를 로드한다.
jnj = fdr.DataReader('JNJ', '2018-10-12')[['Close', ]].rename(columns={'Close': 'JNJ'})

In [37]:
jnj

               JNJ
Date
2018-10-12  133.87
2018-10-15  133.95
2018-10-16  136.56

In [38]:
aapl = fdr.DataReader('AAPL', '2018-10-12')[['Close']].rename(columns={'Close': 'AAPL'})

In [39]:
aapl

              AAPL
Date
2018-10-12  222.11
2018-10-15  217.36
2018-10-16  222.15

In [40]:
pd.merge(jnj, aapl, on='Date')

               JNJ    AAPL
Date
2018-10-12  133.87  222.11
2018-10-15  133.95  217.36
2018-10-16  136.56  222.15

In [43]:
set(dividend['TICKER'])

{'AAPL',
 'BAC',
 'BND',
 'GS',
 'JNJ',
 'KO',
 'MO',
 'NVDA',
 'O',
 'PG',
 'PM',
 'SBUX',
 'T',
 'WSR'}

In [45]:
tickers = set(dividend['TICKER'])

In [46]:
first, others = tickers[0], tickers[1:]

TypeError: 'set' object does not support indexing

In [ ]:
def make_stock_price_df(tickers, from_date):
    first, others = tickers[0], tickers[1:]