In [2]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

plt.rcParams['axes.unicode_minus'] = False
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = 'C:Windows/Fonts/malgun.ttf'
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system')
%matplotlib inline

In [3]:
population = pd.read_excel('../data/05.population_raw_data.xlsx', header=1)
population.fillna(method='pad', inplace=True)
population.rename(columns = {'행정구역(동읍면)별(1)': '광역시도',
                             '행정구역(동읍면)별(2)': '시도',
                             '계': '인구수'}, inplace=True)
population = population[(population['시도'] != '소계')]

In [4]:
population.head()

,광역시도,시도,항목,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,총인구수 (명),152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자인구수 (명),75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자인구수 (명),77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,총인구수 (명),125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자인구수 (명),62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0

In [5]:
population.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 792 entries, 6 to 845
Data columns (total 16 columns):
광역시도        792 non-null object
시도          792 non-null object
항목          792 non-null object
인구수         792 non-null float64
20 - 24세    792 non-null float64
25 - 29세    792 non-null float64
30 - 34세    792 non-null int64
35 - 39세    792 non-null float64
65 - 69세    792 non-null float64
70 - 74세    792 non-null float64
75 - 79세    792 non-null int64
80 - 84세    792 non-null float64
85 - 89세    792 non-null float64
90 - 94세    792 non-null float64
95 - 99세    792 non-null int64
100+        792 non-null float64
dtypes: float64(10), int64(3), object(3)
memory usage: 95.9+ KB

In [12]:
population.is_copy = False
population.rename(columns = {'항목': '구분'}, inplace=True)

In [10]:
population.loc[population['구분'] == '총인구수 (명)', '구분'] = '합계'
population.loc[population['구분'] == '남자인구수 (명)', '구분'] = '남자'
population.loc[population['구분'] == '여자인구수 (명)', '구분'] = '여자'

In [11]:
population.head(20)

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,합계,152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자,75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자,77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,합계,125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자,62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0
11,서울특별시,중구,여자,63045.0,4074.0,4737.0,5140,4886.0,3286.0,2908.0,2375,1573.0,846.0,337.0,102,109.0
12,서울특별시,용산구,합계,230241.0,14317.0,16972.0,19032,19127.0,10675.0,9093.0,7477,4553.0,2254.0,916.0,264,315.0
13,서울특별시,용산구,남자,111601.0,6937.0,8373.0,9455,9434.0,4834.0,3975.0,3094,1739.0,750.0,284.0,102,88.0
14,서울특별시,용산구,여자,118640.0,7380.0,8599.0,9577,9693.0,5841.0,5118.0,4383,2814.0,1504.0,632.0,162,227.0
15,서울특별시,성동구,합계,299259.0,20813.0,23383.0,25507,25979.0,12938.0,10734.0,7989,4450.0,1944.0,678.0,209,198.0
16,서울특별시,성동구,남자,148326.0,10609.0,11848.0,12692,13154.0,6090.0,4863.0,3480,1698.0,580.0,184.0,56,54.0
17,서울특별시,성동구,여자,150933.0,10204.0,11535.0,12815,12825.0,6848.0,5871.0,4509,2752.0,1364.0,494.0,153,144.0
18,서울특별시,광진구,합계,357215.0,27368.0,32092.0,32302,29496.0,14402.0,11300.0,8121,4349.0,2029.0,689.0,228,174.0
19,서울특별시,광진구,남자,174797.0,13317.0,15555.0,16034,14875.0,6775.0,5376.0,3693,1609.0,631.0,170.0,54,37.0
20,서울특별시,광진구,여자,182418.0,14051.0,16537.0,16268,14621.0,7627.0,5924.0,4428,2740.0,1398.0,519.0,174,137.0
21,서울특별시,동대문구,합계,355069.0,26261.0,27808.0,27277,28095.0,17506.0,14867.0,11008,5926.0,2577.0,887.0,288,242.0
22,서울특별시,동대문구,남자,177640.0,13162.0,14859.0,14140,14489.0,8237.0,6815.0,4950,2375.0,801.0,248.0,87,68.0
23,서울특별시,동대문구,여자,177429.0,13099.0,12949.0,13137,13606.0,9269.0,8052.0,6058,3551.0,1776.0,639.0,201,174.0
24,서울특별시,중랑구,합계,411005.0,28727.0,29833.0,32277,32632.0,19957.0,15415.0,10783,5784.0,2596.0,896.0,257,154.0
25,서울특별시,중랑구,남자,204900.0,14676.0,14784.0,16607,17248.0,9448.0,7189.0,4879,2214.0,667.0,211.0,57,37.0