In [1]:
import numpy as np
import pandas
from pandas import DataFrame, Series

In [2]:
np.random.seed(0)

In [3]:
array = np.random.randn(4, 2)

In [4]:
df = DataFrame(array)

In [5]:
df

          0         1
0  1.764052  0.400157
1  0.978738  2.240893
2  1.867558 -0.977278
3  0.950088 -0.151357

In [6]:
columns = ['A', 'B']
df = DataFrame(array, columns=columns)

In [7]:
df

          A         B
0  1.764052  0.400157
1  0.978738  2.240893
2  1.867558 -0.977278
3  0.950088 -0.151357

In [8]:
index = ['a', 'b', 'c', 'd']
df = DataFrame(array, columns=columns, index=index)

In [9]:
df

          A         B
a  1.764052  0.400157
b  0.978738  2.240893
c  1.867558 -0.977278
d  0.950088 -0.151357

In [10]:
df['A']

a    1.764052
b    0.978738
c    1.867558
d    0.950088
Name: A, dtype: float64

In [11]:
df.loc['a']

A    1.764052
B    0.400157
Name: a, dtype: float64

In [12]:
df.iloc[0]

A    1.764052
B    0.400157
Name: a, dtype: float64

In [14]:
indices = ['a', 'c']
df.loc[indices]

          A         B
a  1.764052  0.400157
c  1.867558 -0.977278

In [15]:
df['a':'c']

          A         B
a  1.764052  0.400157
b  0.978738  2.240893
c  1.867558 -0.977278

In [16]:
df[0:2]

          A         B
a  1.764052  0.400157
b  0.978738  2.240893